body
{
    font-family:"Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container
{
    flex:1;
}
.fa-compass
{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link
{
    color: #222222 !important;
}
.navbar
{
    height: 5rem;
    background-color: white;

}
 
/* footer */

.f-info-links a
{
  text-decoration: none;
  color: #222222;
   margin-right: 1rem;
}
.f-info-links a:hover
{
    text-decoration:underline;
}
.f-info-links,.f-info-social,.f-info-brand
{
  
    width: 100%;

    display: flex;
    justify-content: center;
   text-align: center;
   align-items: center;

}
.f-info-social i
{
    margin-right: 1rem;
    font-size: 1.2rem;
}
.f-info
{
   display: flex;
   text-align: center;
   height: 8rem;
   flex-wrap: wrap;
   background-color: #ebebeb;
   justify-content: center;
   align-items:space-evenly;
}
/* card styling */
.listing-card
{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top
{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body
{
    padding: 0 !important;
}
card-text p
{
    font-weight: 400;
}
.listings-link
{
    text-decoration: none;
}
/*card overley */
.card-img-overlay
{
    opacity: 0;
}
.card-img-overlay:hover
{
    opacity: 0.2;
    background-color: #ffffff;
}
/*new ejs button */
.add-btn
{
    background-color: #fe424d !important;
    border: none !important;
}
/*edit ejs button */
.btn-edit
{
    background-color: #fe424d !important;
    border: none !important
}
/*show image */
.show-img
{
    height: 30vh;
}
.btns
{
 display: flex;
}
.show-card
{
    padding: 0px 0px;
}
.imago img {
  width: 150px;  /* ya jitna chhota chahiye */
  height: auto;  /* proportion maintain karega */
  border-radius: 10px; /* optional - thoda style ke liye */
  box-shadow: 0 0 5px rgba(0,0,0,0.2); /* optional - shadow ke liye */
}
